* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.header {
  background-image: url("asset/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  position: relative;
}

.header::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-wrapper {
  width: 100%;
  height: 15vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
}

.banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swipe-txt {
  font-size: 8rem;
}

.reg-sym {
  font-size: 5rem;
}

.banner h1 {
  color: white;
  margin-bottom: 1.2em;
}

.right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: .5em;
  font-size: 1rem;
}

.btn:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  color: white;
  border: none;
}

.btn-icon i {
  padding: 0 10px;
}

.btn-icon i svg {
  fill: white;
}

.btn-icon:hover {
  color: #FD297B;
}

.btn-icon:hover i svg {
  fill: #FD297B;
}

.btn-log {
  padding: .8em 2em;
  border-radius: 10px;
  font-size: 16px;
  color: #FD297B;
  background-color: white;
}

.btn-log:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#fd297b), to(#ff7555));
  background-image: linear-gradient(to right, #fd297b, #ff7555);
  color: white;
}

.btn-ca {
  padding: 1.2em 4em;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd297b), to(#ff7555));
  background-image: linear-gradient(to right, #fd297b, #ff7555);
  color: white;
}

.btn-ca:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#fd297b), to(rgba(255, 117, 85, 0.8)));
  background-image: linear-gradient(to left, #fd297b, rgba(255, 117, 85, 0.8));
}

.swiper-container {
  width: 95%;
}

.card {
  padding: 1.5em;
  border: 1px solid black;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 1.4em 1em;
  font-size: 1rem;
}

#line {
  margin: 1em 0;
}

.footer {
  width: 75%;
  margin: auto;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0;
  font-size: 1rem;
}

.footer-top .title {
  padding: 1.5em 0;
  font-size: 1.4rem;
  font-style: italic;
}

.footer-top ul li a {
  line-height: 1.8em;
  font-size: 1rem;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding-bottom: 1.5em;
  font-size: 1rem;
}

.footer-middle-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.footer-middle-right, .footer-middle-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-middle-right svg {
  padding: 0 .2em;
}

.icon {
  padding: .5em 1.5em;
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid black;
  background-color: transparent;
}

.para {
  padding: .5em 0;
  font-size: .9em;
  color: #979898;
  line-height: 1.3em;
}

.last-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: .8em;
  height: 5vh;
  font-size: 0.75rem;
  color: #979898;
}
/*# sourceMappingURL=style.css.map */