* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}

*::-webkit-scrollbar {
    display: none;
}

$pink : #FD297B;
$orange : #FF7555;
$grey : #979898;

// Import Style for Login card
@import 'loginCard';

.header {
    background-image: url('asset/banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: relative;
}

.header::after {
    content: '';
    background-color:rgba(#000,.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-wrapper {
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to bottom, rgba(#000,1),rgba(#000,0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    box-sizing: border-box;
    position: fixed;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner h1 {
    display: flex;
}

.swipe-txt {
    font-size: 8rem;
}

.reg-sym {
    font-size: 5rem;
}

.banner h1 {
    color: white;
    margin-bottom: 1.2em;
}

.right-header {
    display: flex;
    width: 270px;
    justify-content: space-between;
}

.btn {
    padding: .5em;
    font-size: 1rem;
}

.btn:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.btn-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    color: white;
    border: none;
}

.btn-icon i{
    padding: 0 10px;
}

.btn-icon i svg {
    fill: white;
}

.btn-icon:hover {
    color: $pink;
}

.btn-icon:hover i svg {
    fill: $pink;
}

.btn-log{
    padding: .8em 2em;
    border-radius: 10px;
    font-size: 16px;
    color: $pink;
    background-color: white;
}

.btn-log:hover {
    background-image: linear-gradient(to right, rgba($pink,1),rgba($orange,1));
    color: white;
}

.btn-ca {
    padding: 1.2em 4em;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgba($pink,1),rgba($orange,1));
    color: white;
}

.btn-ca:hover {
    background-image: linear-gradient(to left,rgba($pink,1),rgba($orange,.8));
}

.swiper-container {
    width: 95%;
}

.card {
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    width: 90%;
    margin: 1.4em 1em;
    font-size: 1rem;
}

#line {
    margin: 1em 0;
}



.footer {
    width: 75%;
    margin: auto;
}

li,a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    font-size: 1rem;
}

.footer-top .title {
    padding: 1.5em 0;
    font-size: 1.4rem;
    font-style: italic;
}

.footer-top ul li a{
    line-height: 1.8em;
    font-size: 1rem;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-bottom: 1.5em;
    font-size: 1rem;
}

.footer-middle-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.footer-middle-right , .footer-middle-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-middle-right svg {
    padding: 0 .2em;
}

.icon {
    padding: .5em 1.5em;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid black;
    background-color: transparent;
}

.para {
    padding: .5em 0;
    font-size: .9em;
    color: $grey;
    line-height: 1.3em;
}

.last-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: .8em;
    height: 5vh;
    font-size: 0.75rem;
    color: $grey;
}